/**  index  **/
.index {
  color: #000;
  text-align: center;
}

.index-title {
  margin: 80rpx auto;
  font-size: 52rpx;
}

.index-line {
  margin: 40rpx auto;
  font-size: 36rpx;
}

.upsidedown {
  margin-top: 200rpx;
  transform: rotate(-180deg);
}

// .footer-bar {
  
// }

.bar-top {
  position: fixed;
  left: -5%;
  right: -5%;
  bottom: 400rpx;
  width: 110%;
  height: 120rpx;
  background-color: transparent;
  border: 1rpx solid #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0 0 50% 50%;
  box-shadow: 0 60rpx 0 #fff;
  filter: drop-shadow(0 -4rpx 4rpx rgba(0, 0, 0, 0.5));
}

.bar-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 400rpx;
  background-color: #fff;
}
