/**  index  **/
.index {
  color: #000;
  text-align: center;
}

.index-title {
  margin: 80rpx auto;
  font-size: 52rpx;
}

.index-line {
  margin: 40rpx auto;
  font-size: 36rpx;
}

.upsidedown {
  margin-top: 200rpx;
  transform: rotate(-180deg);
}
