.article-view {
  padding: 80rpx;
  min-height: 100vh;
}

.article-title {
  text-align: center;
  font-size: 46rpx;
  font-weight: bold;
}

.article-author {
  margin: 10rpx auto;
  margin-right: 40rpx;
  margin-bottom: 60rpx;
  text-align: right;
  font-size: 30rpx;
}
